@use "../../assets/scss/common/mixins" as mixin;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @include mixin.flex(center, center);
  text-align: center;
  font-size: 18px;
}

.banner__slider {
  margin: 40px 0;
}

.swiper-pagination-bullet {
  background: transparent;
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  opacity: 1;

  @media screen and (max-width: 480px) {
    width: 10px;
    height: 10px;
    border: 1.5px solid var(--white);
  }
}

.swiper-pagination {
  text-align: right;
  padding-right: 35px;
  padding-bottom: 15px;
  @media screen and (max-width: 480px) {
    text-align: center;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.banner__image {
  position: relative;
  border-radius: 25px;
  width: 100%;
  height: auto;
  object-fit: cover;
  @media screen and (max-width: 768px) {
    min-height: 500px;
  }
  @media screen and (max-width: 640px) {
    min-height: 450px;
  }
  @media screen and (max-width: 480px) {
    min-height: 360px;
  }
}

.banner__info {
  @include mixin.position(
    absolute,
    $top: null,
    $right: null,
    $bottom: 10%,
    $left: 4%
  );
  @include mixin.flex(flex-start, center, column, 25px);
  @media screen and (max-width: 640px) {
    gap: 15px;
  }
}

.banner__title {
  @include mixin.font(80px, 800, 105%, var(--white));
  text-transform: uppercase;
  max-width: 700px;
  text-align: left;
  @media screen and (max-width: 1200px) {
    @include mixin.font(64px, 800, 105%, var(--white));
  }
  @media screen and (max-width: 992px) {
    @include mixin.font(48px, 800, 105%, var(--white));
    max-width: 640px;
  }
  @media screen and (max-width: 640px) {
    @include mixin.font(36px, 800, 105%, var(--white));
    max-width: 640px;
  }
  @media screen and (max-width: 480px) {
    @include mixin.font(28px, 800, 105%, var(--white));
    max-width: 640px;
  }
}

.banner__price {
  @include mixin.font(30px, 700, 113%, var(--white));
  background: var(--yellow);
  border-radius: 40px;
  padding: 10px 20px;
  @media screen and (max-width: 992px) {
    font-size: 20px;
  }
}

.banner__button {
  transition: 0.6s;
  &:hover {
    background: transparent;
    color: var(--white);
  }
  @include mixin.button(
    20px 30px,
    null,
    2px solid var(--white),
    50px,
    var(--white),
    20px,
    700,
    var(--dark-grey)
  );

  @media screen and (max-width: 1200px) {
    padding: 15px 25px;
  }
  @media screen and (max-width: 640px) {
    padding: 15px 25px;
    font-size: 16px;
  }
}
