@use "../../assets/scss/common/mixins" as mixin;

.certification {
  margin-top: 100px;
  &__title {
    @include mixin.font(40px, 700, 125%, var(--dark-grey));
    text-transform: uppercase;
    text-align: center;
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
    @media screen and (max-width: 640px) {
      font-size: 24px;
    }
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }
  &__container {
    @include mixin.flex(center, space-between, null, 30px);

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__banner {
    width: 700px;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-top: 30px;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      margin-top: 0px;
    }
  }
}

.certification__image {
  width: 100%;
  height: auto;
}

.certification__content {
  &_title {
    @include mixin.font(40px, 700, 125%, var(--dark-grey));
    text-transform: uppercase;
    max-width: 621px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &_list {
    margin-top: 30px;
    @include mixin.flex(null, center, column, 15px);
  }

  &_item {
    @include mixin.flex(center, null, null, 15px);
    @include mixin.font(18px, 400, 125%, var(--dark-grey));
  }

  &_custom {
    display: block;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    background: var(--green);
  }
}
